/* Input Styles - extends globals.css */
.form-group.has-error .form-input {
    border-color: var(--color-danger);
}

.form-error {
    display: block;
    color: var(--color-danger);
    font-size: 0.75rem;
    margin-top: var(--space-xs);
}

.form-input.has-icon {
    padding-left: 40px;
}

.form-input.has-icon-right {
    padding-right: 40px;
}

.input-icon-right {
    position: absolute;
    right: var(--space-md);
    color: var(--text-muted);
}